<form action="/scrape" method="get">
  <input type="submit" value="Scrape" class="btn btn-default" />
</form>

<div id="wrapper">
  <h1>Note Scraper</h1>
  <div id="articles">
    {{#each article}}
    {{> articles/articles-card}}
    {{/each}}
  </div>
  <div id="notes"></div>