<div id="wrapper">
  <h1>Note Scraper</h1>
  <div id="articles">
    {{#each article}}
     <p data-id= "{{_id}}">{{title}}</p>
    <p data-id= "{{_id}}"></p>>{{link}}</p>
    {{/each}}
</div>
<div id="notes"></div>